// .layout {
//     margin: 0 auto;
// }

.header {
    position: sticky;
    top: 0;
    display: flex;
    gap: 5px;
    align-item: center;
    margin-bottom: var(--space-xl);
    padding-top: 36px;
    background-color: white;
    z-index: 3;
}

.title {
    top: 68px;
    background-color: white;
    z-index: 2;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.subTitle {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}